.alert-info {
  background-color: #c8c3cc;
  border-color: #563f46;
  color: black;
}

.container {
  background-color: white;
  width: 50%;
  box-shadow: 0px 2px 4px 0px #e6e6e6;
}

h1 {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#loginBtn {
  float: right;
}
