<div>
  <header class="wbdv-sections-page-header">
    <i class="fa-lg fa fa-arrow-left wbdv-back" routerLink="/home"></i>
    <h3>Sections for: {{course.title}}</h3>
  </header>

  <table border="0" class="wbdv-section-list">
    <tr class="wbdv-section-header-row">
      <td class="spaced">Section</td>
      <td>Available</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="wbdv-section-row">
      <td class="wbdv-section-title spaced">
        <i class="fa-lg fa fa-file wbdv-file"></i>
        CS5200 Section 1
      </td>
      <td class="wbdv-available">
        1/16
      </td>
      <td>
    <span>
        <i class="fa-lg fa fa-circle wbdv-enrolled"></i>
    </span>
      </td>
    </tr>

  </table>
</div>
