<div>
  <header class="wbdv-admin-page-header">
    <h3>User Admin</h3>
    <div class="wbdv-register-login">
      <h6>Home</h6>
      <h6>Profile</h6>
    </div>
  </header>

  <div class="row">
    <table border="0" class="wbdv-course-list col-sm-4">
      <thead>
      <tr class="wbdv-course-header-row">
        <td class="spaced">Course Title</td>
        <td>Instructor</td>
        <td>&nbsp;</td>
      </tr>
      </thead>
      <tbody>
        <!--<app-course-row></app-course-row>-->
      </tbody>
    </table>

    <table border="0" class="wbdv-section-list col-sm-6">
      <thead>
      <tr class="wbdv-course-header-row">
        <td class="spaced">Section Title</td>
        <td>Seats</td>
        <td>&nbsp;</td>
      </tr>
      </thead>
      <tbody>
      <!--<app-course-row></app-course-row>-->
      </tbody>
    </table>
  </div>
</div>




<table border="0">
  <thead>

  <tr class="wbdv-form">
    <td><input id="usernameFld"
               class="form-control"
               placeholder="Username"/></td>
    <td><input id="passwordFld"
               class="form-control"
               placeholder="Password"/></td>
    <td><input id="firstNameFld"
               class="form-control"
               placeholder="First Name"/></td>
    <td><input id="lastNameFld"
               class="form-control"
               placeholder="Last Name"/></td>
    <td><select id="roleFld"
                class="form-control">
      <option value="FACULTY">Faculty</option>
      <option value="STUDENT">Student</option>
      <option value="ADMIN">Admin</option>
    </select></td>
    <td><span class="float-right"
              style="white-space: nowrap">
                      <i class="fa-2x fa fa-search wbdv-search"></i>
                      <i class="fa-2x fa fa-plus wbdv-create"></i>
                      <i class="fa-2x fa fa-check wbdv-update"></i>
        </span></td>
  </tr>
  </thead>

  <tbody class="wbdv-tbody">
  <tr class="wbdv-template wbdv-user wbdv-hidden">
    <td class="wbdv-username">ada</td>
    <td>&nbsp;</td>
    <td class="wbdv-first-name">Ada</td>
    <td class="wbdv-last-name">Lovelace</td>
    <td class="wbdv-role">FACULTY</td>
    <td class="wbdv-actions">
                    <span class="float-right">
                      <i id="wbdv-remove" class="fa-2x fa fa-times wbdv-remove"></i>
                      <i id="wbdv-edit" class="fa-2x fa fa-pencil wbdv-edit"></i>
                    </span>
    </td>
  </tr>
  </tbody>
</table>
