<div>
  <!--<Modal show={this.state.showDelete}-->
         <!--onHide={this.handleHideDelete}-->
         <!--animation={true}-->
         <!--bsSize="small">-->

    <!--<Modal.Header>-->
      <!--<Modal.Title>Are you sure you want to delete this module?</Modal.Title>-->
    <!--</Modal.Header>-->

    <!--<Modal.Footer>-->
      <!--<Button onClick={this.handleHideDelete}>No</Button>-->
      <!--<Button bsStyle="primary"-->
              <!--onClick={() => this.deleteModule(this.state.moduleIdToDelete)}>-->
      <!--Yes, I'm sure-->
      <!--</Button>-->
    <!--</Modal.Footer>-->
  <!--</Modal>-->

  <ul class="wbdv-module-list">
    <app-module-list-item></app-module-list-item>
    <app-module-list-item></app-module-list-item>
  </ul>
</div>
