<div class="wbdv-question-content">
  <div class="wbdv-question-header">
    <h4 class="wbdv-question-title">
      {{question.title}}
    </h4>

    <h4 class="wbdv-question-points">
      {{question.points}} pts
    </h4>
  </div>

  <div>
    <p>{{question.description}}</p>
  </div>

  <div>
    <div class="wbdv-question-choice" *ngFor="let choice of question.choices">
      <label *ngIf="choice.value == 'A'"><input type="radio" name="Mchoice" (click)="selected(choice)">A. {{choice.text}}</label>
      <label *ngIf="choice.value == 'B'"><input type="radio" name="Mchoice" (click)="selected(choice)">B. {{choice.text}}</label>
      <label *ngIf="choice.value == 'C'"><input type="radio" name="Mchoice" (click)="selected(choice)">C. {{choice.text}}</label>
      <label *ngIf="choice.value == 'D'"><input type="radio" name="Mchoice" (click)="selected(choice)">D. {{choice.text}}</label>
    </div>
  </div>
</div>
