.col-sm-8 {
  padding: 30px 40px;
  float: right;
}

.modal-body {
  display: inline-flex;
  margin: auto;
  width: 100%;
}

div.modal-body>i {
  padding-left: 10px;
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

