<div>
  <header class="wbdv-quiz-list-header">
    <h3>Quizzes</h3>
    <div class="wbdv-home-profile">
      <h6 routerLink="/home">Home</h6>
      <h6 routerLink="/profile">Profile</h6>
    </div>
  </header>

  <table border="0" class="wbdv-quiz-list">
    <tr class="wbdv-quiz-header-row">
      <td class="spaced">Title</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="wbdv-quiz-row"
        *ngFor="let quiz of quizzes">
      <td class="wbdv-quiz-title spaced">
        <i class="fas fa-file-alt wbdv-file-alt"></i>
        {{quiz.title}}
      </td>
      <td>
        <span>
            <i class="fa-lg fa fa-edit wbdv-take" routerLink="/quiz/{{quiz._id}}"></i>
            <i class="fa-lg fa fa-search-plus wbdv-view" routerLink="/quiz/{{quiz._id}}/submissions"></i>
        </span>
      </td>
    </tr>
  </table>
</div>
