.list-group-item:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

li.list-group-item {
  margin: auto;
  border: 1px solid #e6e6e6;
}

a.nav-item.wbdv-module-list-item.active {
  font-weight: bold;
}

a.nav-link:hover {
  border: none;
}

li>i:hover, header>i:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  cursor: pointer;
}

.wbdv-module-list-item:hover, .wbdv-module-list-item:focus {
  background-color: #f2f2f2;
  cursor: pointer;
}
