li.nav-item>a, li.nav-item>i {
  display: inline-block;
}

a.nav-item.wbdv-lesson-tab.active {
  border-bottom: 4px solid #999999;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: transparent;
  padding-right: 10px;
}

li>i:hover, header>i:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  cursor: pointer;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: transparent;
  border: none;
}
