<div class="wbdv-question-content">
  <div class="wbdv-question-header">
    <h4 class="wbdv-question-title">
      {{question.title}}
    </h4>

    <h4 class="wbdv-question-points">
      {{question.points}} pts
    </h4>
  </div>

  <div>
    <p>{{question.description}}</p>
  </div>

  <div>
    <div class="wbdv-question-choice">
      <label><input type="radio" name="TFchoice" (click)="selected(true)">True</label>
      <label><input type="radio" name="TFchoice" (click)="selected(false)">False</label>
    </div>
  </div>
</div>
