div.wbdv-question-content {
  margin: auto;
  padding: 10px;
}

div.wbdv-question-header {
  display: block;
}

div.wbdv-question-header>h4 {
  display: inline-block;
}

h4.wbdv-question-points {
  float: right;
}

div.wbdv-question-choice>label {
  display: block;
}

div.wbdv-question-choice>label>input {
  margin-right: 5px;
}
